<%# blank page is property to hold redirect, like if a user has no authorite, it will redirect to this page %>
<%# redirect_to page_path('blank') %>

<div class="text-center">
 <%= image_tag 'ico-cry.png' %>
</div>