<% title "直达客" %>
<% page_header "快速导航" %>

<div class='group-header group-header-first'>
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <div class='text-center'>
        <h2>直达客</h2>
      </div>
    </div>
  </div>
</div>

<div class='row box box-transparent'>
  <div class='col-xs-4 col-sm-2'>
    <div class='box-quick-link blue-background'>
      <a href='/sites'>
        <div class='header'>
          <div class='icon-comments'></div>
        </div>
        <div class='content'>应用列表</div>
      </a>
    </div>
  </div>
  <div class='col-xs-4 col-sm-2'>
    <div class='box-quick-link green-background'>
      <a href='/sites/new'>
        <div class='header'>
          <div class='icon-star'></div>
        </div>
        <div class='content'>新建应用</div>
      </a>
    </div>
  </div>
  <div class='col-xs-4 col-sm-2'>
    <div class='box-quick-link orange-background'>
      <a href='/pages/templates'>
        <div class='header'>
          <div class='icon-magic'></div>
        </div>
        <div class='content'>模板库</div>
      </a>
    </div>
  </div>
  <div class='col-xs-4 col-sm-2'>
    <div class='box-quick-link purple-background'>
      <a href='/pages/guide'>
        <div class='header'>
          <div class='icon-eye-open'></div>
        </div>
        <div class='content'>操作指南</div>
      </a>
    </div>
  </div>
  <div class='col-xs-4 col-sm-2'>
    <div class='box-quick-link red-background'>
      <a href='/pages/photo'>
        <div class='header'>
          <div class='icon-inbox'></div>
        </div>
        <div class='content'>图片处理</div>
      </a>
    </div>
  </div>
</div>
