<h1>图片夹列表</h1>

<table class="table table-striped">
  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= link_to gallery.name, gallery %></td>
        <td><%= link_to '修改', edit_gallery_path(gallery) %></td>
        <td><%= link_to '删除', gallery, method: :delete, data: { confirm: '删除图片夹，将会删除该图片夹下的所有图片，确定要删除吗？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '添加图片夹', new_gallery_path, class: 'btn btn-lg btn-primary' %>
