<% title "图片素材" %>
<% page_header "图片夹：" + @gallery.name %>

<div class='group-header group-header-first'>
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <div class='text-center'>
        <%= link_to '添加图片', new_picture_path(gallery_id: @gallery.id), class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
  </div>
</div>
  
<%= render partial: 'pictures/list', locals: {pictures: @pictures} %>